<h1>Welcome !</h1>
<h2>Tu veux créer un évènement ?</h2>
<%= render 'layouts/new_event' %>
<br>
<div class="center jumbotron">
  <h3>Actuels</h3>
  <br>
  <table class="table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Lieu</th>
        <th>Créateur</th>
      </tr>
    </thead>

    <tbody>
      <% if !@events.nil? %>
        <% @events.current.each do |event| %>
          <tr>
            <td><%= event.date.strftime("%d-%b-%Y") %></td>
            <td><%= event.place %></td>
            <td><%= event.creator.name %></td>
            <% if logged_in? %>
              <td><ul class="button_list_table">
                  <li><%= link_to 'Show', event, :class=>"btn btn-sm btn-info", :method=>:get%></li>
                  <!--<li><%= link_to 'Edit', edit_event_path(event), :class=>"btn btn-sm btn-warning", :method=>:get%></li>-->
                  <% if !(event.attendees.include? current_user) %>
                  <li><%= link_to 'Participer',subscribe_path(id: event.id) , :class=>"btn btn-sm btn-primary", :method=>:post %></li>
                  <% end %>
                </ul></td>
              <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="center jumbotron">
  <h3>Passés</h3>
  <br>
  <table class="table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Lieu</th>
        <th>Créateur</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% if !@events.nil? %>
        <% @events.passed.each do |event| %>
          <tr>
            <td><%= event.date.strftime("%d-%b-%Y") %></td>
            <td><%= event.place %></td>
            <td><%= event.creator.name %></td>
            <% if logged_in? %>
              <td><ul class="button_list_table">
                <li><%= link_to 'Show', event, :class=>"btn btn-sm btn-info", :method=>:get%></li>
              </ul></td>
              <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
