<h1>Event</h1>
<h2>Organisateur : <%= @event.creator.name %></h2>
<h2><%= @event.place %></h2>
<h2><%= @event.date.strftime("%d/%b/%Y") %></h2>
<div class="center jumbotron">


  <h3>Liste des participants</h3>
  <br>
  <div>
    <table class="event-show">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        <% @event.attendees.each do |attendee| %>
          <tr>
            <td><%= attendee.name%></td>
            <td><%= attendee.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<br />

</div>
<!--<div style="text-align:center;"><%= link_to "Edite tes infos", edit_user_path(current_user), class: "btn btn-lg btn-warning" %></div>-->
